//
   Created by samuel on 12/30/16.

.col-xs-12
  .container-fluid.max-sm.text-center
    .row.margin-top
      h1.no-margin About Us
      .spacer.dark
    .row.margin-bottom.watch-animate
      a.btn.btn-colored.btn-xl.fade-bottom(href='/about.html') Learn More