//
   Created by samuel on 12/30/16.

.col-xs-12.bg-primary
  .container-fluid.max-sm.text-center
    .row.margin-top.divider-bottom.light
      h1.no-margin About Us
      .spacer.light
    .row.margin-bottom-sm
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dapibus id nunc porta ornare.
      | Duis et pulvinar ante. Aenean in tortor vel diam vehicula lacinia eget malesuada diam.
      | Phasellus blandit at sem vitae consectetur.
    .row.margin-bottom.watch-animate
      .btn.btn-default.btn-xl.fade-bottom Learn More