.col-xs-12.bg-primary
    .container-fluid.text-center.watch-animate
        h1 Contact Us
        .spacer.dark
        a.btn.btn-default.btn-xl.margin-bottom.fade-bottom(href="/contact.html") Information