.col-xs-12.bg-primary
  .container-fluid.max-sm.text-center
    .row.margin-top.divider-bottom.light
      h1.no-margin Job Openings
      .spacer.light
    .row.margin-bottom.watch-animate
      a(href="/job.html").btn.btn-default.btn-xl.fade-bottom More