//
   Created by samuel on 12/30/16.

.col-xs-12
  .container-fluid.text-center
    .col-xs-12
      h1 Services
      .spacer.dark
    .col-xs-12.col-md-6
      .panel
        .panel-body
          img.panel-image(src='/images/blockchain.png', alt='Blockchain')
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mauris eros, hendrerit sodales varius quis,
          | pellentesque porta leo. Fusce non magna vitae magna pretium hendrerit ut et arcu. In at cursus dolor.
    .spacer.wide.dark.visible-xs
    .col-xs-12.col-md-6
      .panel
        .panel-body
          img.panel-image(src='/images/web-app.png', alt='Web App')
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mauris eros, hendrerit sodales varius quis,
          | pellentesque porta leo. Fusce non magna vitae magna pretium hendrerit ut et arcu. In at cursus dolor.
    .col-xs-12.margin-bottom
      .btn.btn-colored.btn-xl Learn More