.navbar-custom {
  background-color: $main-blue;
  color: $main-blue-contrast;

  a {
    color: $main-blue-contrast;
  }

  .icon-bar {
    background-color: $main-blue-contrast;
  }

  @include transition-all(500ms);
}

@media(min-width: 768px) {
  &.at-top {
    background-color: rgba(0,0,0,0);

    .container-fluid {
      height: 70px;

      .navbar-header {
        height: 70px;

        .navbar-brand {
          height: inherit;
          font-size: 2em;
          padding: 23px;
        }
      }
    }
  }
}