.big-blue, .small-blue {
  color: #005493;
  font-weight: 700;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  margin: 0;
  text-align: right;
}

.big-blue {
  font-size: 30vw !important;
}

.small-blue {
  font-size: 20vw !important;
}