doctype html
html(lang='en')
  head

    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='UTF-8')

    link(href='https://fonts.googleapis.com/css?family=Roboto+Mono|Source+Sans+Pro:300,400,700', rel='stylesheet')

    link(type='text/css', rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(type='text/css', rel='stylesheet', href='/css/styles.css')

    script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/js/jquery.viewport.min.js')
    script(type='text/javascript', src='/bower_components/bootstrap/dist/js/bootstrap.min.js')

    script(type='text/javascript', src='/js/navbar.js')
    script(type='text/javascript', src='/js/animation.js')

    block head
  body(data-spy="scroll")

    block body

    .col-xs-12.footer
      | © 2016 TBCASoft, Inc.