extends _layout

block head
  title TBCA
  script(src="/js/index.js")

block body

  - var item = 2;

  include _navbar

  .intro(style="background-image: url('/images/about-intro.jpeg')")
    .content
      h3 Who are
      h1 US?
      h3 What do we do?