extends _layout

block head
    title TBCA
    script(src="/js/index.js")

block body

    - var item = 3;

    include _navbar

    .intro(style="background-image: url('/images/contact-intro.jpg')")
        .content
            h1(style='font-size: 36pt') Contact
            h3 Us

    .container-fluid.text-center.margin-top
        .col-xs-12.col-sm-4
            h3 Email:
            a(href='mailto:marketing@tbcasoft.com') marketing@tbcasoft.com
            h3 Location:
            p
                | We are located in the sunny city of Sunnyvale, California in
                a(href='https://www.google.com/maps/place/Plug+and+Play+Tech+Center')  Plug and Play Tech Center
                | .
        iframe.col-xs-12.col-sm-8(frameborder='0', style='border:0; min-height: 450px; background: #EAEAEA;', src='https://www.google.com/maps/embed/v1/place?key=AIzaSyAkwPAJsCQpK3csnM0tCQoteAbx8yurTHg\
      &q=Plug+and+Play+Tech+Center,Sunnyvale+CA', allowfullscreen='')
