extends _layout

block title
  title TBCA

block body

  +navbar(0)

  .intro
    .content
      h3 We are
      h1#animate-tbca-title
      p Utilizing blockchain technologies to change the world.

  include index/_about_summary
  include index/_services
  include index/_jobs