extends _layout

block head
  title TBCA
  link(type='text/css', rel='stylesheet', href='/css/index.css')
  script(src="/js/index.js")

block body

  - var item = 0;

  include _navbar

  .intro
    .content
      img(src='/images/tbca.png')
      p(style='max-width: 100%; margin-top: 100px; font-weight: 700') Utilizing Blockchain technology to change the world.

  include index/_jobs
  include index/_about
  include index/_contact