extends _layout

block head
    title TBCA
    script(src="/js/index.js")

block body

    - var item = 0;

    include _navbar

    .intro(style="background-image: url('/images/job-intro.jpeg')")
        .content
            h3 We are
            h1.hidden-xs looking
            h1.visible-xs(style="font-size: 48pt") looking

    .col-xs-12.bg-primary
        .container-fluid.max-sm.text-center
            .row.margin-top.margin-bottom-sm
                p.lead We are looking for engineers to help us build our next generation blockchain platform.

    .col-xs-12
        .container-fluid
            h3 What We're Looking For
            p.margin-bottom
                | The engineer will cover a large range of responsibilities, including architecting new applications in
                | a variety of languages, defining deployment processes, writing effective tests, reviewing code, and
                | programming. He or she will be expected to interface with both foreign and domestic partners.
                | The engineer will also contribute to the development of a strong company culture at a fast growing startup.
            h3 Requirements
            ul
                li Eagerness to dive into the world of blockchain technologies!
                li Understanding of the design and development of backend services at scale
                li Proficient in at least one OO language like Java, Python, Scala or Ruby
            h3 Bonus Points
            ul.margin-bottom
                li Experience developing production level C/C++ systems
                li Familiarity with automated deployment and remote configuration tools
                li Familiarity with networking and/or cryptographic systems
                li Linux Mastery
            h3 Benefits
            p.margin-bottom
                | We offer competitive compensation, benefits, and a healthy work-life balance. We are currently located in&nbsp;
                a(href='https://www.google.com/maps/place/Plug+and+Play+Tech+Center') Plug & Play Tech Center, Sunnyvale, CA.
    .col-xs-12.bg-primary
        .container-fluid.text-center.max-sm
            h3 Interested in Joining?
            .spacer.light
            p.margin-bottom Send us a note at:&nbsp;
                a(style='color: #ddd;', href='mailto:jobs@tbcasoft.com') jobs@tbcasoft.com